.sidebar-wrapper {
  float: left;
  padding: 5px;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.content-wrapper {
  float: right;
  padding: 5px;
  display: inline-block;
  width: 70%;
  vertical-align: top;
}
