<ul class="number-iterator">
  <!--<li>-->
    <!--Basics-->
    <!--<ul class="alpha-iterator">-->
      <!--<li [routerLink]="['b', 'observable']" routerLinkActive="active">Observable</li>-->
      <!--<li [routerLink]="['b', 'subscription']" routerLinkActive="active">Subscription</li>-->
      <!--<li [routerLink]="['b', 'usage']" routerLinkActive="active">Usage</li>-->
      <!--<li [routerLink]="['b', 'types']" routerLinkActive="active">Observable types</li>-->
    <!--</ul>-->
  <!--</li>-->
  <li>
    <ul class="alpha-iterator">
      <!--<li [routerLink]="['a', 'wtu']" routerLinkActive="active">When to unsubscribe?</li>-->
      <li>
        Operators
        <ul class="bullet-iterator">
          <li [routerLink]="['a', 'operators', 'of']" routerLinkActive="active">of</li>
          <li [routerLink]="['a', 'operators', 'from']" routerLinkActive="active">from</li>
          <li [routerLink]="['a', 'operators', 'take']" routerLinkActive="active">Take</li>
          <li [routerLink]="['a', 'operators', 'fromEvent']" routerLinkActive="active">fromEvent</li>
          <li [routerLink]="['a', 'operators', 'interval']" routerLinkActive="active">Interval</li>
          <li [routerLink]="['a', 'operators', 'map']" routerLinkActive="active">map</li>
          <li [routerLink]="['a', 'operators', 'flatMap']" routerLinkActive="active">flatMap</li>
          <li [routerLink]="['a', 'operators', 'concatAll']" routerLinkActive="active">ConcatAll</li>
          <li [routerLink]="['a', 'operators', 'throttle']" routerLinkActive="active">Throttle</li>
          <li [routerLink]="['a', 'operators', 'debounce']" routerLinkActive="active">Debounce</li>
          <li [routerLink]="['a', 'operators', 'filter']" routerLinkActive="active">Filter</li>
          <li [routerLink]="['a', 'operators', 'concat']" routerLinkActive="active">Concat</li>
          <li [routerLink]="['a', 'operators', 'merge']" routerLinkActive="active">Merge</li>
          <li [routerLink]="['a', 'operators', 'share']" routerLinkActive="active">Share</li>
          <li [routerLink]="['a', 'operators', 'groupBy']" routerLinkActive="active">groupBy</li>
        </ul>
      </li>
      <li [routerLink]="['a', 'ovsp']" routerLinkActive="active">Observable vs. Promise</li>
      <li [routerLink]="['a', 'performance']" routerLinkActive="active">Rxjs vs Lodash - performance test</li>
    </ul>
  </li>
</ul>
